@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-Black: rgb(0, 0, 0);
    --text-white: rgb(255, 255, 255);
    --color-primary: rgb(54, 191, 177);
    --color-segund: rgb(3, 140, 115);
    --color-third: rgb(1, 64, 52);
    --color-background: rgb(13, 13, 13);
}

@media screen and (max-width: 700px) {
    #container-cabecalho {
        display: none;
    }

    #mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: end;
        width: 100vw;
        background-color: black;
    }

    #logo-cabecalho {
        display: block;
        border: none;
        padding: 0 10px;
    }

    #btn {
        padding: 10px 10px 10px 0;
        font-size: 1.2em;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #mobile #botao-menu-mobile {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
    }

    #showMenu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--color-segund);   
    }

    ul li {
        
        list-style: none;
        padding: 10px 0;
        text-align: center;
        color: var(--text-white);
        border: 1px solid var(--color-third);
        cursor: pointer;
    }

    /* ------------------------------- */

    #container-apresentacao {
        margin: 0;
        width: 100%;
        background-position: right bottom;

    }

    #container-conteudo #conteudo {
        width: 95%;
    }

    span {
        padding: 0 8px;
    }

    h2 {
        display: none;
    }

    #logo-mobile {
        display: flex;
        height: 30px;
        font-size: 1em;
        padding: 10px;
        border: 2px solid var(--color-third);
    }
}