@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-Black: rgb(0, 0, 0);
    --text-white: rgb(255, 255, 255);
    --color-primary: rgb(54, 191, 177);
    --color-segund: rgb(3, 140, 115);
    --color-third: rgb(1, 64, 52);
    --color-background: rgb(13, 13, 13);
}

@media screen and (max-width: 700px) {
    #container-cabecalho {
        display: none;
    }

    #mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-items: end;
        width: 100vw;
        background-color: black;
    }

    #logo-cabecalho {
        display: block;
        border: none;
        padding: 0 10px;
    }

    #btn {
        padding: 10px 10px 10px 0;
        font-size: 1.2em;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #mobile #botao-menu-mobile {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
    }

    #showMenu {
        display: flex;
        flex-direction: column;
        width: 100vw;
        background-color: var(--color-segund);   
    }

    ul li {
        
        list-style: none;
        padding: 10px 0;
        text-align: center;
        color: var(--text-white);
        border: 1px solid var(--color-third);
        cursor: pointer;
    }

    /* ------------------------------- */
    main {
        margin: 0;
        padding: 0;
    }

   

    #container-apresentacao {
        margin: 0;
        width: 100%;
        background-position: right bottom;

    }

    span {
        padding: 0 8px;
    }

    #apresentacao-nome {
        display: none;
    }

    #logo-mobile {
        display: flex;
        height: 30px;
        font-size: 1em;
        padding: 10px;
        border: 2px solid var(--color-third);
    }

    #sobre{
        flex-direction: column;
        padding: 0;
    }

    #sobre-dados{
        width: 100%;
    }
    

    .container-sobre {
      width: 100%;
      
    }

    #sobre-mim {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        
    }

    #sobre-mim h2{
        font-size: 2em;
    }

    /********************************************************/

    #tecnologias {
        width: 100%;
    }

    #titulo-tecnologia{
        font-size: 2em;
    }

    .cards, .cards-2 {
        grid-template-columns: 80px 80px;
        align-items: center;
        justify-content: center;
        
    }

    .card {
        width: 100px;
        height: 120px;
        font-size: .5em;
        padding: 0 10px;
    }

    .descricao-tecnologia {
        font-size: 1.1em;
    }

    /*********************/

    .container-iframe {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #titulo-iframe {
        font-size: 2em;
    }

    .container-projetos {
        display: flex;
        flex-direction: column;
        
    }

    .tecnologias-usadas {
        width: 100%;
        padding: 0 20px;
    }

    .container-iframe h3 {
        font-size: 1.5em;
        
    }

    .container-iframe .container-p {
        width: 100%;
        padding: 0 5px;
    }


    .container-iframe p {
        font-size: 1em;
        padding: 20px 0;
    }

    iframe {
        display: none;
    }

    #ultimo-botao{
        padding-bottom: 30px;
    }

    footer p {
        font-size: 1em;
        
    }
}