@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-Black: rgb(0, 0, 0);
    --text-white: rgb(255, 255, 255);
    --color-primary: rgb(54, 191, 177);
    --color-segund: rgb(3, 140, 115);
    --color-third: rgb(1, 64, 52);
    --color-background: rgb(13, 13, 13);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-primary);
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;

}

#container-cabecalho {
    width: 100%;
    height: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);
    backdrop-filter: blur(10px);
    padding: 0 120px;
    box-shadow: 0px 0px 10px rgba(54, 191, 177, 0.428);
}

#logo {
    display: flex;
}

.logo {
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 1.3em;
    border: 2px solid var(--color-third);
    padding: 0 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-weight: bolder;
}

.logo p {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        escrevendo 3.5s steps(40, end)
}

@keyframes escrevendo {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

#container-cabecalho #logo span {
    padding: 0 10px;
    font-size: 1.6em;
}

#botao-menu-mobile {
    display: none;
}

#container-cabecalho nav ul {
    display: flex;
    list-style: none;
}

#container-cabecalho nav ul li {
    position: relative;
    cursor: pointer;
    margin-left: 30px;
    font-size: 1.3em;
}

#container-cabecalho nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: var(--color-segund);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

#container-cabecalho nav ul li:hover::after {
    background-color: var(--color-segund);
    transform-origin: left;
    transform: scaleX(1);
}

/***************************************************/

[data-anime] {
    opacity: 0;
    transition: 1s;
}

[data-anime='down'] {
    transform: translate3d(0, -100%, 0);
}

[data-anime='up'] {
    transform: translate3d(0, 100%, 0);
}

[data-anime].animar {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

main {
    padding: 90px 0;
    width: 100%;
    background-color: var(--color-background);

}

main #container-apresentacao {
    animation: inicializar 1s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url(../img/Background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

}

main #container-apresentacao #container-conteudo {
    animation: inicializar 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 80px;
    backdrop-filter: blur(4px);
}

@keyframes inicializar {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

main #container-apresentacao #container-conteudo #conteudo {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.825);
    border-radius: 10px;
    padding: 28px;
}

#logo-cabecalho {
    display: none;
}

#logo-mobile {
    display: none;
}

#container-conteudo #conteudo .conteudo {
    padding: 25px 0;
    color: var(--color-primary);
    text-shadow: 0 0 10px black;

}

#container-conteudo #conteudo h2 {
    font-size: 2em;
}

#container-conteudo #conteudo p {
    font-size: 1.3em;
}

.redes-socias {
    width: 100%;
    font-size: 1.6em;
    display: flex;
    justify-content: center;
}

.redes-socias i {
    margin: 0 25px;
    cursor: pointer;
}

#linkedin {
    color: #0A66C2;
}

#github {
    color: #BABBBD;
}

#whatsapp {
    color: #00E676;
}

#email {
    color: #F04244;
}

#container-a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    margin: 30px 10px;
    background-color: rgba(3, 140, 115, 0.273);

}

a {
    font-size: 1.1em;
    font-weight: bolder;
    text-shadow: 2px 2px 10px black;
    text-decoration: none;
    cursor: pointer;

}

#conteudo .container-a:hover {
    background-color: var(--color-third);
}

/***************************************************/



#sobre {
    width: 100%;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

#sobre-dados {
    width: 60%;
}

.container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.container-sobre img {
    max-width: 80%;
    width: auto;
    padding-bottom: 10px;

}

#sobre-mim {

    padding: 50px 20px;
    background-color: var(--color-third);
    border-radius: 20px;
    text-shadow: 0 0 10px black;
    color: white;
}

#sobre-mim h2 {
    padding: 0 50px 20px 50px;
    text-align: center;
    font-size: 3em;
}

#sobre-mim p {
    text-indent: 20px;
    padding: 20px 0;
    font-size: 1.2em;
    text-align: justify;
    line-height: 24px;
}

/********************************************/

[data-anime='left'] {
    transform: translate3d(-100%, 0, 0);
}

#tecnologias {
    background-color: var(--color-background);
    width: 100%;
}

#titulo-tecnologia {
    width: 100%;
    text-align: center;
    font-size: 3em;
    padding: 70px 0;
}

.cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 30px 100px;
    padding: 30px 0;
}

.cards-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 30px 100px;
    padding: 30px 0;
}

.container-conteudo-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao-tecnologia {
    padding: 25px 0;
    font-size: 1.6em;
}

#html {
    color: #F06124;
}

#css {
    color: #016BC1;
}

#javascript {
    color: #F7DF1E;
}

#php {
    color: #787CB4;
}

#java {
    color: #E92E30;
}

#sql {
    color: #7FBA00;
}

#mysql {
    color: #E48E00;
}

#bootstrap {
    color: #573E7F;
}

.card {
    width: 190px;
    height: 254px;
    background-color: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;

}

.card h2 {
    z-index: 1;
    color: white;
    font-size: 9em;
}

.card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, var(--color-primary), var(--color-third));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.card::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
}

/*************************************/

[data-anime='right'] {
    transform: translate3d(50px, 0, 0);
}

#projetos {
    width: 100%;
    background-color: var(--color-background);
}

#titulo-iframe {
    width: 100%;
    text-align: center;
    padding: 50px 0;
    font-size: 3em;
}

.container-projetos {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.tecnologias-usadas {
    font-size: 1.8em;
    width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    align-items: center;
}

.container-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-iframe h3 {
    font-size: 1.8em;
    padding: 40px 0;
}

.container-iframe .container-p {
    width: 500px;
}

.container-iframe p {
    font-size: 1.1em;
    padding: 40px 0;
    text-indent: 20px;
    text-align: justify;
}

iframe {
    height: 550px;
    width: 500px;
}

.links {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    text-decoration: none;
    ;

}

button {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms
}

button:hover {
    color: #e8e8e8;
}

button:hover::before {
    width: 100%;
}



hr {
    border: 1px solid var(--color-third);
    background-color: var(--color-background);
}

footer {
    width: 100%;
    padding: 40px 0;
    background-color: var(--color-background);
}


footer p {
    padding: 20px 0;
    text-align: center;
    font-size: 1.5em;
}